.main {
  user-select: none;
}

.tablist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: fit-content;
  max-width: 100%;
  margin: 0 15px 15px 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.mainBtn,
#new-tab-btn {
  width: fit-content;
  padding: 6px 20px;
  font-size: 18px;
  height: 40px;
  background-color: rgba(124, 142, 255, 0.096);
  white-space: nowrap;
}
.mainBtn:hover:not(.needs-selection):not(:disabled) {
  padding: 5px 30px;
}
.mainBtn:active {
  padding: 5px 15px;
}

#new-tab-btn {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 100%;
}
#new-tab-btn:hover {
  width: 44px;
  height: 44px;
  padding: 0px;
}

.activeTab {
  background-image: var(--striped-bg-img);
  padding: 5px 30px;
}

/*  WHERE QUESTIONS ARE POPULATED  */

.manage-header-buttons {
  width: fit-content;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  scrollbar-gutter: stable;
  min-height: 40px;
}

#input-list {
  min-width: 0;
  height: fit-content !important;
  max-height: 60dvh;
  overflow-y: scroll;
  overflow-x: visible !important;
  max-width: 600px;
}
.form {
  padding: 10px !important;
}
.form-wrapper {
  overflow-y: hidden !important;
}
.form-template-container {
  display: none;
}

.form-input {
  width: 50% !important;
  flex-grow: 1;
}

.question {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  max-width: 100%;
}

.question h3 {
  width: 25px;
  font-size: 1.3em;
  margin: 0;
}

.q-selected {
  box-shadow: 0 3px 10px 0px #c4d9ff8f;
}

.q-wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: min-content;
}

.edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  gap: 10px;
}

.edit-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.needs-selection {
  opacity: 0.4;
  scale: 1;
  cursor: not-allowed;
}

.tab-selected {
  display: none;
}

hr {
  height: 1px;
  background-color: var(--theme-main-border-color);
  border: none;
  width: 100%;
  margin: 20px;
}
.vr {
  height: 100%;
  background-color: var(--theme-main-border-color);
  border: none;
  width: 1px;
  margin: 0 20px 0 20px;
}

#tab-template {
  display: none;
}

.descriptor {
  padding: 0 12px;
}

@media (max-width: 800px) {
}
