<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('templates/head') %>
        <link rel="stylesheet" href="CSS/dashboard.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script defer src="JS/templates.js"></script>
        <title>Form - Scouting App</title>
    </head>
    <body>
        <nav>
            <ul class="tabs">
                <li id="data-tab">
                    <i class="fa-solid fa-database"></i>
                </li>
                <li id="export-tab">
                    <i class="fa-solid fa-database"></i>
                </li>
                <li id="settings-tab">
                    <i class="fa-solid fa-database"></i>
                </li>
            </ul>
        </nav>

        <main>
            <ul id="matches">
                <% matches.forEach(match => { %>
                    <li class="match">
                        <a href="/dashboard/<%= match.key %>"><%= match.comp_level %> Match #<%= match.match_number %></a>
                    </li>
                <% }); %>
            </ul>
        </main>

        <!-- <footer>
            <div id="footer"></div>
        </footer> -->
        <script src="JS/app.js"></script>
    </body>
</html>