<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('templates/head') %>
        <link rel="stylesheet" href="CSS/accoutForm.css" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script defer src="JS/templates.js"></script>
        <title>Form - Scouting App</title>

    </head>
    <body>
        <!-- <nav>
            <div id="header">
                <p></p>
            </div>
        </nav> -->

        <main>
            <form id="form" action="/login" method="post">
                <h1>Login</h1>
                <div class="form-field">
                    <label for="username">Username</label>
                    <input name="username" id="username" type="text"></input>
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="password"></input>
                </div>
                <button id="submit" type="submit">Login</button>
            </form>
        </main>

        <!-- <footer>
            <div id="footer"></div>
        </footer> -->
        <script src="JS/app.js"></script>
    </body>
</html>