body {
    background-color:rgb(44, 44, 69);
    --front_color: rgb(79, 74, 168)
}

#footer {
    color: rgb(101, 87, 136);
    text-shadow: 0.5rem 1rem 2rem rgb(28, 8, 53);
}

.form {
    border-style: solid;
    border-color: rgb(79, 74, 168);
    background-color: rgb(79, 74, 168);
    box-shadow: 0.5rem 1rem 1.1rem rgb(28, 8, 53);
    max-width: 50rem;
    margin-inline: auto;
    padding: 1rem;

    scale: 100%;
    border-radius: 1.2rem;
    color: rgb(187, 185, 215);
    transition: 0.2s;
}

.form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

input {
    background-color: rgb(47, 44, 98);
    /* box-shadow: 0.5rem 1rem 1.1rem rgba(28, 8, 53, 0); */
    border: 0;
    outline: 0;
    color: rgb(187, 185, 215);
    
    border-radius: 5px;
    transition: 0.1s ease;
    padding: 0.5rem;

    scale: 100%;

    max-width: 3rem;
}

input:hover {
    outline: 3px solid rgb(187, 185, 215);
}

input:focus {
    outline: 3px solid rgb(163, 180, 255);

    scale: 102%;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(28, 8, 53);
    border-radius: 1px;
}
