#footer {
    /*This took way too long to figure out for some reason.
    CHECK templates.js for footer*/
    color: rgb(74, 102, 56);
    background-color: rgb(155, 224, 85);

    margin-top: 105%;
    height: 110%;    
}
