.header {
    
}

#footer {
    /* this is color*/
    background-color: rgb(255, 0, 0);
    color: white;

    /* this is sizes*/
    font-size: 10px;
    margin-left: auto; margin-right: auto;


    

}




